@tailwind base;
@tailwind components;

.btn {
  @apply w-full rounded-md border-none outline-none;
}

@tailwind utilities;

:root {
  --primary: #1b74e4;
  --primary-box-shadow: 0 0 0 2px #e7f3ff;
  --btn-login-color: #36a420;
}
