@tailwind base;
@tailwind components;

.btn {
  @apply w-full rounded-md border-none outline-none;
}

.icons {
  @apply center aspect-square w-10 cursor-pointer rounded-full bg-[--comment] hover:bg-[#4e4f50];
}

.nav-active {
  @apply border-b-4 border-[--primary-btn-bg] text-[--primary-btn-bg];
}

.sidebar-img {
  @apply inline-block h-9 w-9 bg-no-repeat;
}

.sidebar-label {
  @apply break-words text-[15px] font-medium leading-5 antialiased;
}

.child-scroll {
  @apply overflow-y-scroll scrollbar-thin scrollbar-track-transparent scrollbar-thumb-[#7b7b7b] scrollbar-thumb-rounded-full;
}

.nav-active svg {
  fill: var(--primary-btn-bg);
}

.deactivate {
  display: none;
}

@tailwind utilities;

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    width: 0rem;
  }

  .hide-scrollbar:hover::-webkit-scrollbar {
    width: 0.5rem;
  }

  .toggle-scrollbar {
    overflow: hidden;
  }

  .toggle-scrollbar:hover {
    overflow: auto;
  }

  .el-active {
    color: var(--active);
  }

  .el-active::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--active);
  }

  .el-active svg {
    fill: var(--active);
  }

  .preserve {
    transform-style: preserve-3d;
  }

  .transform-back {
    transform: translateZ(-10px);
  }

  .gr-icon path {
    stroke: var(--placeholder-text);
  }

  .filter-primary {
    filter: var(--filter-primary-icon);
    -webkit-filter: var(--filter-primary-icon);
  }

  .filter-secondary {
    filter: var(--filter-secondary-icon);
    -webkit-filter: var(--filter-secondary-icon);
  }

  .filter-warning {
    filter: var(--filter-warning-icon);
    -webkit-filter: var(--filter-warning-icon);
  }

  .filter-blue-link {
    filter: var(--filter-blue-link-icon);
    -webkit-filter: var(--filter-blue-link-icon);
  }

  .filter-positive {
    filter: var(--filter-positive);
    -webkit-filter: var(--filter-positive);
  }

  .filter-negative {
    filter: var(--filter-negative);
    -webkit-filter: var(--filter-negative);
  }

  .filter-placeholder {
    filter: var(--filter-placeholder-icon);
    -webkit-filter: var(--filter-placeholder-icon);
  }

  .filter-disabled {
    filter: var(--filter-disabled-icon);
    -webkit-filter: var(--filter-disabled-icon);
  }

  .filter-always-white {
    filter: var(--filter-always-white);
    -webkit-filter: var(--filter-always-white);
  }

  .filter-negative {
    filter: var(--filter-negative);
    -webkit-filter: var(--filter-negative);
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tap-highlight {
    -webkit-tap-highlight-color: transparent;
  }
}
